
.slider {
    position: relative;
    overflow: hidden;
}

.slider__item-wrap {
    min-width: 100%;
}

.slider__item {
    border: 1px solid red;
}


.slider-btns {
    left: 0;
    top: 50%;
    right: 0;
}
